div To be implemented
div(ui-view="page")
-// TODO: organize properly and give better naming conventions
//- TODO: Also figure out why a comment is needed at the beginning of each div for it to work
-//
  div(class='form-group' style="width: 300px; padding: 5px; text-align: left;")
    label(for='occupations' style="width: 100%; text-align: left;") Search for Occupations in Your Tree
    input(
      name="occupations"
      id="occupations"
      type="text"
      placeholder="enter an occupation"
      ng-model="selected"
      uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
      class="form-control"
    )
    label(id="response" style="width: 300px; padding: 25px; text-align:left;")
-//
    div(class='form-group' style="width: 300px; padding: 5px; text-align: left;")
      label(for='occupations' style="width: 100%; text-align: left;") Search for Hobbies in Your Tree
      input(
        name="occupations"
        id="occupations"
        type="text"
        placeholder="enter a hobby"
        ng-model="selected"
        uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
        class="form-control"
      )
      label(id="response" style="width: 300px; padding: 25px; text-align:left;")
-//
    div(class='form-group' style="width: 300px; padding: 5px; text-align: left;")
      label(for='occupations' style="width: 100%; text-align: left;") Depth
      input(
        name="occupations"
        id="occupations"
        type="number"
        min="1"
        max="10"
        placeholder="1"
        ng-model="selected"
        uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
        class="form-control"
      )
      label(id="response" style="width: 300px; padding: 25px; text-align:left;")

-//
    div(class='form-group' style="width: 300px; padding: 5px; text-align: left;")
      label(for='occupations' style="width: 100%; text-align: left;") Choose a Color
      input(
        name="occupations"
        id="occupations"
        type="color"
        placeholder="enter a hobby"
        ng-model="selected"
        uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
        class="form-control"
      )
      label(id="response" style="width: 300px; padding: 25px; text-align:left;")
div(id="mapView" style="display:inline-block; padding: 25px; width: 80%;")
    h1 Map View
