div
div(style="display:inline-block; width: 100%")
  div(class="form-group col-lg-3")
    div(style="padding: 5px; text-align: left; width: 100%;")
        label(style="width: 100%;") Map Scope
        select(ng-model="mapScopeData.model" style="width: 100%;")
            option(ng-repeat="option in mapScopeData.availableOptions" value="{{option.value}}") {{option.name}}
  //- TODO: organize properly and give better naming conventions
  div(id="forms" class="col-lg-3" style="display:none;")
    div(class='form-group' style="padding: 5px; text-align: left;")
      label(for='occupations' style="width: 100%; text-align: left;") Search for Occupations in Your Tree
      input(
        name="occupations"
        id="occupations"
        type="text"
        placeholder="enter an occupation"
        ng-model="occupationSelected"
        uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
        class="form-control"
      )
      label(id="occResp" style="width: 300px; padding: 25px; text-align:left;")

      div(class='form-group' style="width: 300px; padding: 5px; text-align: left;")
        label(for='occupations' style="width: 100%; text-align: left;") Search for Hobbies in Your Tree
        input(
          name="hobbySearch"
          id="hobbySearch"
          type="text"
          placeholder="enter a hobby"
          ng-model="hobbySelected"
          uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
          class="form-control"
        )
        label(id="hobbResp" style="width: 300px; padding: 25px; text-align:left;")

      div(class='form-group' style="width: 300px; padding: 5px; text-align: left;")
        label(for='occupations' style="width: 100%; text-align: left;") Depth
        input(
          name="depth"
          id="depthSelect"
          type="number"
          value="3"
          min="1"
          max="10"
          placeholder="3"
          ng-model="depthSelected"
          uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
          class="form-control"
        )
        label(id="depthResp" style="width: 300px; padding: 25px; text-align:left;")

      div(class='form-group' style="width: 300px; padding: 5px; text-align: left;")
        label(for='occupations' style="width: 100%; text-align: left;") Choose a Color
        input(
          name="color"
          id="colorSelect"
          type="color"
          value="#aaaaff"
          placeholder="Enter a color"
          ng-model="colorSelected"
          uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
          class="form-control"
        )
        label(id="colorResp" style="width: 300px; padding: 25px; text-align:left;")
  div(id="riverView" style="display:inline-block; padding: 25px; width: 60%")
    h1 River View
