div
div(style="display:inline-block;")
  //- TODO: organize properly and give better naming conventions
  div(class='form-group' style="width: 300px; padding: 5px; text-align: left;")
    label(for='occupations' style="width: 100%; text-align: left;") Search for Occupations in Your Tree
    input(
      name="occupations"
      id="occupations"
      type="text"
      placeholder="enter an occupation"
      ng-model="occupationSelected"
      uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
      class="form-control"
    )
    label(id="occResp" style="width: 300px; padding: 25px; text-align:left;")

    div(class='form-group' style="width: 300px; padding: 5px; text-align: left;")
      label(for='occupations' style="width: 100%; text-align: left;") Search for Hobbies in Your Tree
      input(
        name="hobbySearch"
        id="hobbySearch"
        type="text"
        placeholder="enter a hobby"
        ng-model="hobbySelected"
        uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
        class="form-control"
      )
      label(id="hobbResp" style="width: 300px; padding: 25px; text-align:left;")

    div(class='form-group' style="width: 300px; padding: 5px; text-align: left;")
      label(for='occupations' style="width: 100%; text-align: left;") Depth
      input(
        name="occupations"
        id="occupations"
        type="number"
        min="1"
        max="10"
        placeholder="1"
        ng-model="depthSelected"
        uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
        class="form-control"
      )
      label(id="depthResp" style="width: 300px; padding: 25px; text-align:left;")

    div(class='form-group' style="width: 300px; padding: 5px; text-align: left;")
      label(for='occupations' style="width: 100%; text-align: left;") Choose a Color
      input(
        name="occupations"
        id="occupations"
        type="color"
        placeholder="enter a hobby"
        ng-model="colorSelected"
        uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8"
        class="form-control"
      )
      label(id="colorResp" style="width: 300px; padding: 25px; text-align:left;")
div(id="riverView" style="display:inline-block; padding: 25px;")
  h1 River View
